.success{
    background-color: greenyellow;
}

.success:hover{
    background-color: darkgreen;
}

.warning{
    background-color: coral;
}

.warning:hover{
    background-color: tomato
}

.danger{
    background-color: tomato;
}

.danger:hover{
    background-color: brown;
}

.button{
    width: 100%;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    border:none;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

}
